<!doctype html>
<Html>
<style>
@font-face { 
   font-family: 'Montserrat'; 
   src: url('/montserrat.ttf'); 
}
</style>
<head> 
<title>
Registration Page
</title>
</head>
<body bgcolor="Lightskyblue">
<br>
<br>
<form>
<a href="/set-usr/">Створення користувача</a>
<br>
<a href="/set-categ/">Створення категорії витрат</a>
<br>
<a href="/set-spending/">Створення запису про витрати</a>
<br>
<a href="/show-categ/">Отримання списку категорій</a>
<br>
<a href="/show-usr/">Отримання списку записів по певному користувачу</a>
<br>
<a href="/show-spending/">Отримання списку записів в категорії для певного користувача</a>
<br>

</body>
</html>

